/* Copyright 2021 Roberto Beltran */

$bg-color: black;
$vice-pink: #F890E7;
$vice-blue: #0BD3D3;
$white: black !default;
$border-color: white;

@import '../MetroMumbleDark/main';

#container {
  display: grid;
  grid-template-columns: min-content 1fr 2fr;
  grid-gap: 0.5em;
}
.toolbar {
  padding-top: 0.7em;
  margin-left: 0.25em;
  margin-right: auto;
  float: none;
}
.chat {
  width: 100% !important;
  height: calc(98% - 20px);
  align-self: center;
  margin: 0 !important;
}
.channel-root-container {
  width: 97% !important;
  float: none;
  margin: 0 !important;
  align-self: center;
  overflow: visible;
}
.connect-dialog input[type="text"] {
  outline: none;
  box-shadow: none;
  border: 1px solid $vice-pink;
  transition: border-color 0.7s ease;
  padding: 0.2em 0.4em;
}
.connect-dialog table {
  padding: 0.5em 0.5em 0 0.5em;
}
#connect-dialog_title {
  background-color: $vice-pink;
}
#message-box {
  resize: none;
  background-color: $white;
  border: 1px solid $vice-pink;
  transition: border-color 0.7s ease;
  padding: 0.75em;
  border-radius: 3px;
  line-height: 1em;
  height: 1em;
  vertical-align: bottom;
  font-size: 16px;
}
#message-box:focus-visible, input[type=text]:focus-visible {
  border-color: $vice-blue;
  outline: none;
  box-shadow: none;
}
form[data-bind="submit: submitMessageBox"] {
  margin-right: 1.6em;
}
.log {
  background-color: $bg-color;
  border-color: $border-color;
  height: calc(100% - 60px);
}
.channel-root-container {
  background-color: $bg-color;
  border-color: $border-color;
}
@media(max-width: 800px){
  .toolbar {
    float: none;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
  }
  .toolbar img {
    margin-right: 0.5em;
  }
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 2fr 1fr;
    justify-items: center;
    padding: 1em;
  }
  .channel-root-container {
    width: 100% !important;
    height: 80% !important;
    align-self: start;
  }
  .chat {
    height: auto !important;
    align-self: stretch;
  }
}
@media(max-width: 500px) {
  .dialog {
    min-width: 80%;
  }
}